<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>False Information Filtering System</title>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="login">
      <div class="box">
        <h1><i class="bx bxs-news"></i> False Information Dectection</h1>
        <form action="{{ url_for('predict')}}" method="POST">
          <textarea
            name="message"
            rows="6"
            cols="50"
            required="required"
            placeholder="Enter the news to be checked"
          ></textarea>
          <br /><br />
          <button type="submit" class="btn">
            <i class="bx bx-search-alt bx-tada" style="color: green"></i>
            Predict
          </button>
          <div class="results">
            {% if prediction == ['FAKE'] %}
            <h2 style="color: red">Fake News 📰⚠️</h2>
            {% elif prediction == ['REAL'] %}
            <h2 style="color: green">Real News 📰</h2>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
